<form accept-charset="UTF-8" action="/headlines" class="new_headline" data-remote="true" id="new_headline" method="post" novalidate="novalidate">
  <div style="margin:0;padding:0;display:inline">
    <input type="hidden"><input name="authenticity_token" type="hidden" value="VSzeXjTiot5zK61YIV4ET/7xyI2M79vS/8TfrFvG1QA=">
  </div>

  <select id="headline_view_type" name="headline[view_type]" style="display: none;">
    <option value="1" selected="selected">通常の見出し</option>
    <option value="2">小見出し</option>
  </select>

  <div id="headline_content_area" style="margin-top:20px">
    <input class="add_item_area" id="headline_content" name="headline[content]" placeholder="見出しの文章を入力" size="30" style="border-bottom:2px solid #fc7c79;" type="text">
  </div>

  <input id="headline_color" name="headline[color]" size="30" type="text" value="#fc7c79">

  <input id="list_id" name="list_id" type="hidden" value="72506">
  <input id="cleared" name="cleared" type="hidden" value="1">
  <input id="item_order" name="item_order" type="hidden" value="1">

  <div class="add_btArea clearfix">
    <input class="btn btn_black" data-disable-with="処理中..." id="add_bt" name="commit" type="submit" value="追加">
    <a href="javascript:void(0);" onclick="cancel()" id="cancel_bt" class="btn btn_default">キャンセル</a>
  </div>
</form>
<script>jQuery(function(e){e("#headline_view_type").selectmenu({change:function(){view_type=e(this).val(),color=e("#headline_color").val(),1==view_type?(e("#headline_content").css("border-bottom","2px solid "+color),e("#added_square").remove()):(e("#headline_content_area").prepend('<span id="added_square" style="color:'+color+'; display: block; float: left; margin: 9px 5px 0 0; font-size: 10px;">■</span>'),e("#headline_content").css("border-bottom","1px solid #ddd"))}}),e("#headline_color").simpleColorPicker({onChangeColor:function(o){o=e("#headline_color").val(),view_type=e("#headline_view_type").val(),1==view_type?e("#headline_content").css("border-bottom-color",o):e("#added_square").css("color",o)}}),e("#new_headline").validate({rules:{"headline[content]":{required:!0}},messages:{"headline[content]":{required:"<span class='validate_message'>テキストが空です</span>"}}})});</script>